Bll/Web References/functionws/FunctionOfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMenus">
        <s:complexType />
      </s:element>
      <s:element name="GetMenusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMenusResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnableFunction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="positionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nodeId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnableFunctionResponse">
        <s:complexType />
      </s:element>
      <s:element name="EnableFunctions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="positionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nodePrex" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnableFunctionsResponse">
        <s:complexType />
      </s:element>
      <s:element name="CancelFunction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="positionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nodeId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelFunctionResponse">
        <s:complexType />
      </s:element>
      <s:element name="CancelFunctions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="positionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nodePrex" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelFunctionsResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetFunctionsOfPosition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="positionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFunctionsOfPositionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFunctionsOfPositionResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAwards">
        <s:complexType />
      </s:element>
      <s:element name="GetAwardsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAwardsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMenusSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenus" />
  </wsdl:message>
  <wsdl:message name="GetMenusSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenusResponse" />
  </wsdl:message>
  <wsdl:message name="EnableFunctionSoapIn">
    <wsdl:part name="parameters" element="tns:EnableFunction" />
  </wsdl:message>
  <wsdl:message name="EnableFunctionSoapOut">
    <wsdl:part name="parameters" element="tns:EnableFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="EnableFunctionsSoapIn">
    <wsdl:part name="parameters" element="tns:EnableFunctions" />
  </wsdl:message>
  <wsdl:message name="EnableFunctionsSoapOut">
    <wsdl:part name="parameters" element="tns:EnableFunctionsResponse" />
  </wsdl:message>
  <wsdl:message name="CancelFunctionSoapIn">
    <wsdl:part name="parameters" element="tns:CancelFunction" />
  </wsdl:message>
  <wsdl:message name="CancelFunctionSoapOut">
    <wsdl:part name="parameters" element="tns:CancelFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="CancelFunctionsSoapIn">
    <wsdl:part name="parameters" element="tns:CancelFunctions" />
  </wsdl:message>
  <wsdl:message name="CancelFunctionsSoapOut">
    <wsdl:part name="parameters" element="tns:CancelFunctionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFunctionsOfPositionSoapIn">
    <wsdl:part name="parameters" element="tns:GetFunctionsOfPosition" />
  </wsdl:message>
  <wsdl:message name="GetFunctionsOfPositionSoapOut">
    <wsdl:part name="parameters" element="tns:GetFunctionsOfPositionResponse" />
  </wsdl:message>
  <wsdl:message name="GetAwardsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAwards" />
  </wsdl:message>
  <wsdl:message name="GetAwardsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAwardsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMenusHttpGetIn" />
  <wsdl:message name="GetMenusHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="EnableFunctionHttpGetIn">
    <wsdl:part name="positionId" type="s:string" />
    <wsdl:part name="nodeId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnableFunctionHttpGetOut" />
  <wsdl:message name="EnableFunctionsHttpGetIn">
    <wsdl:part name="positionId" type="s:string" />
    <wsdl:part name="nodePrex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnableFunctionsHttpGetOut" />
  <wsdl:message name="CancelFunctionHttpGetIn">
    <wsdl:part name="positionId" type="s:string" />
    <wsdl:part name="nodeId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CancelFunctionHttpGetOut" />
  <wsdl:message name="CancelFunctionsHttpGetIn">
    <wsdl:part name="positionId" type="s:string" />
    <wsdl:part name="nodePrex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CancelFunctionsHttpGetOut" />
  <wsdl:message name="GetFunctionsOfPositionHttpGetIn">
    <wsdl:part name="positionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFunctionsOfPositionHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetAwardsHttpGetIn" />
  <wsdl:message name="GetAwardsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetMenusHttpPostIn" />
  <wsdl:message name="GetMenusHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="EnableFunctionHttpPostIn">
    <wsdl:part name="positionId" type="s:string" />
    <wsdl:part name="nodeId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnableFunctionHttpPostOut" />
  <wsdl:message name="EnableFunctionsHttpPostIn">
    <wsdl:part name="positionId" type="s:string" />
    <wsdl:part name="nodePrex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnableFunctionsHttpPostOut" />
  <wsdl:message name="CancelFunctionHttpPostIn">
    <wsdl:part name="positionId" type="s:string" />
    <wsdl:part name="nodeId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CancelFunctionHttpPostOut" />
  <wsdl:message name="CancelFunctionsHttpPostIn">
    <wsdl:part name="positionId" type="s:string" />
    <wsdl:part name="nodePrex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CancelFunctionsHttpPostOut" />
  <wsdl:message name="GetFunctionsOfPositionHttpPostIn">
    <wsdl:part name="positionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFunctionsOfPositionHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetAwardsHttpPostIn" />
  <wsdl:message name="GetAwardsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:portType name="FunctionOfServiceSoap">
    <wsdl:operation name="GetMenus">
      <wsdl:input message="tns:GetMenusSoapIn" />
      <wsdl:output message="tns:GetMenusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnableFunction">
      <wsdl:input message="tns:EnableFunctionSoapIn" />
      <wsdl:output message="tns:EnableFunctionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnableFunctions">
      <wsdl:input message="tns:EnableFunctionsSoapIn" />
      <wsdl:output message="tns:EnableFunctionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelFunction">
      <wsdl:input message="tns:CancelFunctionSoapIn" />
      <wsdl:output message="tns:CancelFunctionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelFunctions">
      <wsdl:input message="tns:CancelFunctionsSoapIn" />
      <wsdl:output message="tns:CancelFunctionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFunctionsOfPosition">
      <wsdl:input message="tns:GetFunctionsOfPositionSoapIn" />
      <wsdl:output message="tns:GetFunctionsOfPositionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAwards">
      <wsdl:input message="tns:GetAwardsSoapIn" />
      <wsdl:output message="tns:GetAwardsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FunctionOfServiceHttpGet">
    <wsdl:operation name="GetMenus">
      <wsdl:input message="tns:GetMenusHttpGetIn" />
      <wsdl:output message="tns:GetMenusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EnableFunction">
      <wsdl:input message="tns:EnableFunctionHttpGetIn" />
      <wsdl:output message="tns:EnableFunctionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EnableFunctions">
      <wsdl:input message="tns:EnableFunctionsHttpGetIn" />
      <wsdl:output message="tns:EnableFunctionsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelFunction">
      <wsdl:input message="tns:CancelFunctionHttpGetIn" />
      <wsdl:output message="tns:CancelFunctionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelFunctions">
      <wsdl:input message="tns:CancelFunctionsHttpGetIn" />
      <wsdl:output message="tns:CancelFunctionsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFunctionsOfPosition">
      <wsdl:input message="tns:GetFunctionsOfPositionHttpGetIn" />
      <wsdl:output message="tns:GetFunctionsOfPositionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAwards">
      <wsdl:input message="tns:GetAwardsHttpGetIn" />
      <wsdl:output message="tns:GetAwardsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FunctionOfServiceHttpPost">
    <wsdl:operation name="GetMenus">
      <wsdl:input message="tns:GetMenusHttpPostIn" />
      <wsdl:output message="tns:GetMenusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EnableFunction">
      <wsdl:input message="tns:EnableFunctionHttpPostIn" />
      <wsdl:output message="tns:EnableFunctionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EnableFunctions">
      <wsdl:input message="tns:EnableFunctionsHttpPostIn" />
      <wsdl:output message="tns:EnableFunctionsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelFunction">
      <wsdl:input message="tns:CancelFunctionHttpPostIn" />
      <wsdl:output message="tns:CancelFunctionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelFunctions">
      <wsdl:input message="tns:CancelFunctionsHttpPostIn" />
      <wsdl:output message="tns:CancelFunctionsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFunctionsOfPosition">
      <wsdl:input message="tns:GetFunctionsOfPositionHttpPostIn" />
      <wsdl:output message="tns:GetFunctionsOfPositionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAwards">
      <wsdl:input message="tns:GetAwardsHttpPostIn" />
      <wsdl:output message="tns:GetAwardsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FunctionOfServiceSoap" type="tns:FunctionOfServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMenus">
      <soap:operation soapAction="http://tempuri.org/GetMenus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableFunction">
      <soap:operation soapAction="http://tempuri.org/EnableFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableFunctions">
      <soap:operation soapAction="http://tempuri.org/EnableFunctions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelFunction">
      <soap:operation soapAction="http://tempuri.org/CancelFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelFunctions">
      <soap:operation soapAction="http://tempuri.org/CancelFunctions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFunctionsOfPosition">
      <soap:operation soapAction="http://tempuri.org/GetFunctionsOfPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAwards">
      <soap:operation soapAction="http://tempuri.org/GetAwards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FunctionOfServiceSoap12" type="tns:FunctionOfServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMenus">
      <soap12:operation soapAction="http://tempuri.org/GetMenus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableFunction">
      <soap12:operation soapAction="http://tempuri.org/EnableFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableFunctions">
      <soap12:operation soapAction="http://tempuri.org/EnableFunctions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelFunction">
      <soap12:operation soapAction="http://tempuri.org/CancelFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelFunctions">
      <soap12:operation soapAction="http://tempuri.org/CancelFunctions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFunctionsOfPosition">
      <soap12:operation soapAction="http://tempuri.org/GetFunctionsOfPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAwards">
      <soap12:operation soapAction="http://tempuri.org/GetAwards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FunctionOfServiceHttpGet" type="tns:FunctionOfServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetMenus">
      <http:operation location="/GetMenus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableFunction">
      <http:operation location="/EnableFunction" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="EnableFunctions">
      <http:operation location="/EnableFunctions" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CancelFunction">
      <http:operation location="/CancelFunction" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CancelFunctions">
      <http:operation location="/CancelFunctions" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetFunctionsOfPosition">
      <http:operation location="/GetFunctionsOfPosition" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAwards">
      <http:operation location="/GetAwards" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FunctionOfServiceHttpPost" type="tns:FunctionOfServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetMenus">
      <http:operation location="/GetMenus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableFunction">
      <http:operation location="/EnableFunction" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="EnableFunctions">
      <http:operation location="/EnableFunctions" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CancelFunction">
      <http:operation location="/CancelFunction" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CancelFunctions">
      <http:operation location="/CancelFunctions" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetFunctionsOfPosition">
      <http:operation location="/GetFunctionsOfPosition" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAwards">
      <http:operation location="/GetAwards" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FunctionOfService">
    <wsdl:port name="FunctionOfServiceSoap" binding="tns:FunctionOfServiceSoap">
      <soap:address location="http://221.130.108.114:8082/Auto4SERP/FunctionOfService.asmx" />
    </wsdl:port>
    <wsdl:port name="FunctionOfServiceSoap12" binding="tns:FunctionOfServiceSoap12">
      <soap12:address location="http://221.130.108.114:8082/Auto4SERP/FunctionOfService.asmx" />
    </wsdl:port>
    <wsdl:port name="FunctionOfServiceHttpGet" binding="tns:FunctionOfServiceHttpGet">
      <http:address location="http://221.130.108.114:8082/Auto4SERP/FunctionOfService.asmx" />
    </wsdl:port>
    <wsdl:port name="FunctionOfServiceHttpPost" binding="tns:FunctionOfServiceHttpPost">
      <http:address location="http://221.130.108.114:8082/Auto4SERP/FunctionOfService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>