Bll/Web References/departmentws/DepartmentOfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDepartments">
        <s:complexType />
      </s:element>
      <s:element name="GetDepartmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="depart" type="tns:Department" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Department">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParentID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddDepartmentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="depart" type="tns:Department" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateDepartmentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistsId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="depart" type="tns:Department" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistsIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExistsIdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelDepartmentByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelDepartmentByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelDepartmentByIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddIDString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parentid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddIDStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddIDStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDepartmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartments" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartmentByID" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentByIDResponse" />
  </wsdl:message>
  <wsdl:message name="AddDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:AddDepartment" />
  </wsdl:message>
  <wsdl:message name="AddDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:AddDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDepartment" />
  </wsdl:message>
  <wsdl:message name="UpdateDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="ExistsIdSoapIn">
    <wsdl:part name="parameters" element="tns:ExistsId" />
  </wsdl:message>
  <wsdl:message name="ExistsIdSoapOut">
    <wsdl:part name="parameters" element="tns:ExistsIdResponse" />
  </wsdl:message>
  <wsdl:message name="DelDepartmentByIDSoapIn">
    <wsdl:part name="parameters" element="tns:DelDepartmentByID" />
  </wsdl:message>
  <wsdl:message name="DelDepartmentByIDSoapOut">
    <wsdl:part name="parameters" element="tns:DelDepartmentByIDResponse" />
  </wsdl:message>
  <wsdl:message name="AddIDStringSoapIn">
    <wsdl:part name="parameters" element="tns:AddIDString" />
  </wsdl:message>
  <wsdl:message name="AddIDStringSoapOut">
    <wsdl:part name="parameters" element="tns:AddIDStringResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsHttpGetIn" />
  <wsdl:message name="GetDepartmentsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentByIDHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentByIDHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="DelDepartmentByIDHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelDepartmentByIDHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="AddIDStringHttpGetIn">
    <wsdl:part name="parentid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddIDStringHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsHttpPostIn" />
  <wsdl:message name="GetDepartmentsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentByIDHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentByIDHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="DelDepartmentByIDHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DelDepartmentByIDHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="AddIDStringHttpPostIn">
    <wsdl:part name="parentid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddIDStringHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="DepartmentOfServiceSoap">
    <wsdl:operation name="GetDepartments">
      <wsdl:input message="tns:GetDepartmentsSoapIn" />
      <wsdl:output message="tns:GetDepartmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentByID">
      <wsdl:input message="tns:GetDepartmentByIDSoapIn" />
      <wsdl:output message="tns:GetDepartmentByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDepartment">
      <wsdl:input message="tns:AddDepartmentSoapIn" />
      <wsdl:output message="tns:AddDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartment">
      <wsdl:input message="tns:UpdateDepartmentSoapIn" />
      <wsdl:output message="tns:UpdateDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExistsId">
      <wsdl:input message="tns:ExistsIdSoapIn" />
      <wsdl:output message="tns:ExistsIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelDepartmentByID">
      <wsdl:input message="tns:DelDepartmentByIDSoapIn" />
      <wsdl:output message="tns:DelDepartmentByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddIDString">
      <wsdl:input message="tns:AddIDStringSoapIn" />
      <wsdl:output message="tns:AddIDStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DepartmentOfServiceHttpGet">
    <wsdl:operation name="GetDepartments">
      <wsdl:input message="tns:GetDepartmentsHttpGetIn" />
      <wsdl:output message="tns:GetDepartmentsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentByID">
      <wsdl:input message="tns:GetDepartmentByIDHttpGetIn" />
      <wsdl:output message="tns:GetDepartmentByIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DelDepartmentByID">
      <wsdl:input message="tns:DelDepartmentByIDHttpGetIn" />
      <wsdl:output message="tns:DelDepartmentByIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddIDString">
      <wsdl:input message="tns:AddIDStringHttpGetIn" />
      <wsdl:output message="tns:AddIDStringHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DepartmentOfServiceHttpPost">
    <wsdl:operation name="GetDepartments">
      <wsdl:input message="tns:GetDepartmentsHttpPostIn" />
      <wsdl:output message="tns:GetDepartmentsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentByID">
      <wsdl:input message="tns:GetDepartmentByIDHttpPostIn" />
      <wsdl:output message="tns:GetDepartmentByIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DelDepartmentByID">
      <wsdl:input message="tns:DelDepartmentByIDHttpPostIn" />
      <wsdl:output message="tns:DelDepartmentByIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddIDString">
      <wsdl:input message="tns:AddIDStringHttpPostIn" />
      <wsdl:output message="tns:AddIDStringHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DepartmentOfServiceSoap" type="tns:DepartmentOfServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDepartments">
      <soap:operation soapAction="http://tempuri.org/GetDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentByID">
      <soap:operation soapAction="http://tempuri.org/GetDepartmentByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDepartment">
      <soap:operation soapAction="http://tempuri.org/AddDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartment">
      <soap:operation soapAction="http://tempuri.org/UpdateDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistsId">
      <soap:operation soapAction="http://tempuri.org/ExistsId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDepartmentByID">
      <soap:operation soapAction="http://tempuri.org/DelDepartmentByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddIDString">
      <soap:operation soapAction="http://tempuri.org/AddIDString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DepartmentOfServiceSoap12" type="tns:DepartmentOfServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDepartments">
      <soap12:operation soapAction="http://tempuri.org/GetDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentByID">
      <soap12:operation soapAction="http://tempuri.org/GetDepartmentByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDepartment">
      <soap12:operation soapAction="http://tempuri.org/AddDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartment">
      <soap12:operation soapAction="http://tempuri.org/UpdateDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistsId">
      <soap12:operation soapAction="http://tempuri.org/ExistsId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDepartmentByID">
      <soap12:operation soapAction="http://tempuri.org/DelDepartmentByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddIDString">
      <soap12:operation soapAction="http://tempuri.org/AddIDString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DepartmentOfServiceHttpGet" type="tns:DepartmentOfServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetDepartments">
      <http:operation location="/GetDepartments" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentByID">
      <http:operation location="/GetDepartmentByID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDepartmentByID">
      <http:operation location="/DelDepartmentByID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddIDString">
      <http:operation location="/AddIDString" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DepartmentOfServiceHttpPost" type="tns:DepartmentOfServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetDepartments">
      <http:operation location="/GetDepartments" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentByID">
      <http:operation location="/GetDepartmentByID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDepartmentByID">
      <http:operation location="/DelDepartmentByID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddIDString">
      <http:operation location="/AddIDString" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DepartmentOfService">
    <wsdl:port name="DepartmentOfServiceSoap" binding="tns:DepartmentOfServiceSoap">
      <soap:address location="http://221.130.108.114:8082/Auto4SERP/DepartmentOfService.asmx" />
    </wsdl:port>
    <wsdl:port name="DepartmentOfServiceSoap12" binding="tns:DepartmentOfServiceSoap12">
      <soap12:address location="http://221.130.108.114:8082/Auto4SERP/DepartmentOfService.asmx" />
    </wsdl:port>
    <wsdl:port name="DepartmentOfServiceHttpGet" binding="tns:DepartmentOfServiceHttpGet">
      <http:address location="http://221.130.108.114:8082/Auto4SERP/DepartmentOfService.asmx" />
    </wsdl:port>
    <wsdl:port name="DepartmentOfServiceHttpPost" binding="tns:DepartmentOfServiceHttpPost">
      <http:address location="http://221.130.108.114:8082/Auto4SERP/DepartmentOfService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>